body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 18px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  text-align: center;
  padding: 8px 24px;
}